[Unit]
Description=lighthouse service

[Service]
User=root
Restart=always
RestartSec=3
StartLimitInterval=0
TimeoutStopSec=600
LimitNOFILE=65536
LimitNPROC=65536
CPUWeight=90
IOWeight=90
MemoryMax=100G

WorkingDirectory=/root/
ExecStart=/root/go/bin/lighthouse beacon_node \
--datadir="/root/lighthouse" \
--network="mainnet" \
--execution-jwt="/root/mainnet/jwt.hex" \
--execution-endpoint="http://127.0.0.1:8551" \
--http --http-address="127.0.0.1" \
--http-allow-origin="*" \
--metrics --metrics-address="127.0.0.1" --metrics-port="44450" \
--metrics-allow-origin="*" \
--subscribe-all-subnets \
--import-all-attestations \
--validator-monitor-auto \
--checkpoint-sync-url=https://beaconstate.info \
--private \
--disable-upnp

KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
